body {
  --timestamp-width: 48px;
}
body.clean-no-timestamps {
  --timestamp-width: 0;
}
body.clean-small-timestamps {
  --timestamp-width: 48px;
}
body.clean-medium-timestamps {
  --timestamp-width: 64px;
}
body.clean-large-timestamps {
  --timestamp-width: 72px;
}

.chat-line__message {
  position: relative !important;
}

.chat-line__message .chat-line__timestamp {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: var(--timestamp-width);
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: center;
  background-color: #3d3d40;
  border-radius: 6px 0 0 0;
  opacity: 0;
  pointer-events: none;
  text-wrap: nowrap;
  white-space: nowrap;
  padding-left: 6px;
  padding-right: 6px;
}

.user-notice-line:hover .chat-line__timestamp,
.chat-line__message:hover .chat-line__timestamp {
  opacity: 1;
}

.chat-line__message .chat-line__message--badges {
  position: absolute;
  left: var(--timestamp-width);
  bottom: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: center;
  background-color: #3d3d40;
  border-radius: 0 6px 0 0;
  opacity: 0;
  pointer-events: none;
}

.chat-line__message--badges {
  min-width: 6px;
  padding-right: 6px;
}

.user-notice-line:hover .chat-line__message--badges,
.chat-line__message:hover .chat-line__message--badges {
  opacity: 1;
}

.ffz--hover-actions {
  top: unset !important;
  bottom: calc(100% - 4px);
}

.badge-subscriber::after,
.badge-subscriber::before,
.badge-founder::after,
.badge-founder::before,
.badge-vip::after,
.badge-moderator::after,
.badge-broadcaster::before,
.badge-broadcaster::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 4px;
  height: calc(50% - 8px);
  z-index: 999;
}

.badge-founder::after,
.badge-subscriber::before {
  background: #62a;
  bottom: 50%;
}
.badge-founder::before,
.badge-subscriber::before {
  background: #62a;
  top: 50%;
}
.badge-moderator::after {
  background: #0c0;
  bottom: 50%;
}
.badge-vip::after {
  background: #c606a4;
  bottom: 50%;
}
.badge-broadcaster::before,
.badge-broadcaster::after {
  background: #c00;
  bottom: 50%;
}